::selection {
  background-color: var(--main-color);
  color: black;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-color: rgb(248, 50, 212);
}

header{
  background-color: rgb(25,118,210);
  display: flex;
  margin: 0 0 100px 0;
}